<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rthqks.synapse">

    <application>

        <activity android:name="com.rthqks.synapse.ui.browse.NetworkListActivity" />

        <activity
            android:name="com.rthqks.synapse.ui.exec.NetworkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.rthqks.synapse.ui.build.BuilderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>